{% extends 'app/base.html' %}

{% block content %}
<div class="text-center mb-5 mt-3">
    <i class="bi bi-person-circle text-secondary" style="font-size: 4rem;"></i>
    <h3 class="mt-2">Jméno Uživatele</h3>
    <div class="row justify-content-center mt-4">
        <div class="col-2 border-end">
            <h4>12</h4>
            <small class="text-muted">Recenze</small>
        </div>
        <div class="col-2 border-end">
            <h4>8</h4>
            <small class="text-muted">Záložky</small>
        </div>
        <div class="col-2">
            <h4>4.2</h4>
            <small class="text-muted">Prům. rating</small>
        </div>
    </div>
</div>
{% endblock %}